*.log
*.aux
*.cfg
*.glo
*.idx
*.toc
*.ilg
*.ind
*.out
*.lof
*.lot
*.bbl
*.blg
*.gls
*.cut
*.hd
*.dvi
*.ps
*.thm
*.tgz
*.zip
*.rpi
*~
*.bcf
*.run.xml
*.lb
*.fdb_latexmk
*.fls
paper.pdf
*.synctex.gz
*.synctex(busy)
*.DS_Store
*.xmpi
*.command